/* EndScene.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }
  
  .button-container {
    text-align: center;
    color: white;
  }
  
  .full-screen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
  .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .end-btn{
    background-color: #2b2119;
    color: white;
    padding: 16px 20px;
    border: #e5dccd 1pt solid;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    margin: 10px;
    box-shadow: inset 0 -5px 10px  #0c0c0c;
    box-shadow: inset 0 5px 10px  #0c0c0c;
  }

  .end-btn:hover{
    background-color: #3b3129;
    transition: 0.3s; ;
  
  }
  
  

  .end-btn a{
    text-decoration: none;
    color: white;

  }

