/*import local font*/
@font-face {
  font-family: "noir";

  src: url("../fonts/FilmNoir.otf") format("otf");
}

@font-face {
  font-family: "cookie";

  src: url("../fonts/Cookie-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "liberation";

  src: url("../fonts/LiberationSerif-Regular.ttf") format("ttf");
}

body {
  margin: 0;
}

h1 {
  color: white;
  font-family: noir;
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1a1a1a;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #1a1a1a;
  --quinary-color: #f0f0f0;
  --senary-color: #1a1a1a;
  --septenary-color: #f0f0f0;
  --octonary-color: #1a1a1a;
  --nonary-color: #f0f0f0;
  --denary-color: #1a1a1a;
}

.book img {
  height: 100vh;
  height: auto;
  object-fit: cover;

  position: absolute;
}

.book ul {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  text-align: center;
  list-style-type: none;
}
