@font-face {
  font-family: "liberation";

  src: url("../fonts/LiberationSerif-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "noir";

  src: url("../fonts/FilmNoir.otf") format("otf");
}

.homescreen {
  background-image: url(../images/hsbackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#h2 {
  font-family: liberation;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

#h2:hover {
  color: red;

  text-decoration: underline;
}

.homescreen-start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: black;
}

.homescreen-start-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2em;
}

.homescreen-start-button h1:hover {
  color: red;
}


.homescreen-button {
  position: absolute;
  padding-top: 50px;
  padding-left: 50px;
  width: 22%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.277);
}

.homescreen-button button{
  display: flex;
  z-index: 10;
  flex-direction: column;
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(240, 248, 255, 0);
  font-size: 2em;
  font-family: 'Liberation Serif';
  /* font-weight: 900; */
}

#playbtn{
  margin-left: 70px;
  margin-top: 50px;
}


#play-btn{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#play-btn:hover{
  color: rgb(169, 0, 0);
}

#logo{
  height: 250px;
  width: 250px;

}

