.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
    text-align: center;
    color: white;
  }
  
  .popup-content {
    margin-bottom: 20px;
  }
  
  .popup-close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-close-button:hover {
    background-color: #0056b3;
  }
  



.deadon-canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}