* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgb(26, 26, 26); */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  color: black;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid white;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 9999;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #606060;
}

.bg {
  background: #101010;
}

.fullscreen .logout {
  background: transparent;
  border: none;
  width: auto;
  color: white;
  display: block;
  margin: 10px auto;
}

.fullscreen .continue-link {
  text-decoration: none;
  transition: all 1s;
  width: 20%;
  text-align: center;
}

.fullscreen.notready .continue-link {
  cursor: auto;
  color: #606060;
}

.fullscreen.ready .continue-link {
  cursor: pointer;
  color: white;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.pmndrs-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.pmndrs-menu.left {
  justify-content: flex-start;
}

.pmndrs-menu.right {
  justify-content: flex-end;
}

.pmndrs-menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pmndrs-menu > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.pmndrs-menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pmndrs-menu a:hover {
  text-decoration: underline;
  color: inherit;
}

.button-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #101010;
}
.scan .fingerprint {
  position: relative;
  width: 300px;
  height: 440px;
  background: url(../images/fingerprint.svg) no-repeat;
  background-size: 300px;
}
.scan .fingerprint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/fingerprint_grey.svg);
  background-size: 300px;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
}
.scan .fingerprint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ff0000;
  border-radius: 8px;
  filter: drop-shadow(0 0 20px #ff0000) drop-shadow(0 0 60px #ff0000);
  animation: animate_line 4s ease-in-out infinite;
}
@keyframes animate_line {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
}

.homescreen {
  /* background-image: url(../styling/images/hsbackground.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.crosshair {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.horizontal-line {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust thickness of the line */
}

.vertical-line {
  left: 50%;
  top: 0;
  width: 1px; /* Adjust thickness of the line */
  height: 100%;
}

.examine {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.eeContainer {
  display: flex;
  padding-left: 5%;
}

.eeItem {
  flex: 0.5;
}

.evidence {
  padding-left: 5%;
}
.evidenceItem {
  display: flex;
}

.evidenceItem img {
  width: 100px;
  border: 1pt solid #ff0000;
}


.info-div {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.info-div p {
  margin: 0 0 10px;
}

.info-div button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.info-div button:hover {
  background-color: #0056b3;
}

.annotation {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.annotation:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
