* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
/* 
#root {
  overflow: auto;
} */

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  color: white;
  background: black;
  background: radial-gradient(
    circle at bottom center,
    rgba(60, 60, 60, 1) 0%,
    rgba(0, 0, 0, 1) 58%
  );
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
      39 39,
    auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 0s forwards;
}

.annotation {
  cursor: pointer;
  background-color: #46191969;
  color: rgba(255, 255, 255, 0.542);
  border: #e5dccd7c 1pt solid;
  box-shadow: inset 0 -5px 10px  #0c0c0c;
  box-shadow: inset 0 5px 10px  #0c0c0c;  
  border-radius: 5px;

  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.annotation:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-back-button{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #461919;
    color: white;
    padding: 16px 20px;
    border: #e5dccd 1pt solid;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: inset 0 -5px 10px  #0c0c0c;
    box-shadow: inset 0 5px 10px  #0c0c0c;  
    transition: 0.3s; ;
}

.popup-back-button:hover{
  background-color: #3b3129;
  transition: 0.3s; ;
}

.deadon-canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #46191964;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 1000;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: inset 0 -5px 10px  #0c0c0c;
  box-shadow: inset 0 5px 10px  #0c0c0c;  

}

.popup-content {
  margin-bottom: 20px;
}

.popup-close-button {
  background-color: #461919;
    color: white;
    padding: 16px 20px;
    border: #e5dccd 1pt solid;
    cursor: pointer;
    border-radius: 50px;
    font-size: 10px;
    box-shadow: inset 0 -5px 10px  #0c0c0c;
    box-shadow: inset 0 5px 10px  #0c0c0c;  
    transition: 0.3s; ;
  
}

.popup-close-button:hover {
  background-color: #3b3129;
  transition: 0.3s; ;
}

.deadon-canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}